.UserOutput {
    width: 15rem;
    text-align: center;
    font-weight: bolder;
    padding: 9px;
    margin: 2rem auto;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgb(20, 18, 18);
    border-radius: 1rem;
    overflow-wrap: break-word;
}
