.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.App .btn {
    width: 200px;
    height: 40px;
    border: 0 solid;
    border-radius: 5px;
    background-color: rgb(128, 238, 128);
    font-weight: bolder;
    padding: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px #282c34;
    transition: 0.4s background-color;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(179, 0, 0);
}

.App .btn:hover {
    background: rgb(202, 56, 231);
}

.App .btnDanger {
    padding: 6px;
    width: 200px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 10px #282c34;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.App .btnDanger:hover {
    background-color: salmon;
}
